* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:lightgray;
}

h1.main-heading {
    text-align:center;
}

img.food-image {
    display:block;
    width: 750px;
    height: auto;
    margin: auto;
    border-radius: 30px;
}

p.description {
    display: block;
    text-align: center;
    text-wrap-style: balance;
    margin: 10px 20%;
}

p.description,
p.header-two {
    font-size: 18px;
}

li {
    margin: 5px;
}